<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

                     
	<context:component-scan base-package="com.creditbr"/>
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
       <property name="locations">
            <list>
                <value>classpath:certs.properties</value>
            </list>
       </property>
    </bean>
    
    <bean id="iceCreditBr" class="com.wu.framework.service.ServiceExporter">
       <property name="protocol" value="netty"/>
       <property name="serviceClass" value="com.creditbr.access.CreditBrBaseService"/>
       <property name="serviceRef" ref="creditBr"/>
    </bean>
    <bean id="brCredit" class="com.wu.framework.service.ServiceExporter">
       <property name="protocol" value="netty"/>
       <property name="serviceClass" value="com.creditbr.access.CreditBrService"/>
       <property name="serviceRef" ref="creditBrServiceImpl"/>
    </bean>
    
    <bean id="brCreditService" class="com.wu.framework.service.ServiceExporter">
       <property name="protocol" value="netty"/>
       <property name="serviceClass" value="com.creditbr.access.BrCreditService"/>
       <property name="serviceRef" ref="brCreditServiceImpl"/>
    </bean>
    <!--  <bean id="workflowService" class="com.wu.framework.service.ClientInvoker">
                <property name="protocol" value="ice"></property>
                <property name="serviceName" value="workflow"></property>
                <property name="destID" value="100011"></property>
                <property name="referenceClass" value="com.wu.workflow.service.WorkflowService"></property>
        </bean> -->

    
    <bean id="springContextFactory" class="com.wu.common.utils.SpringContextFactory"/>
    <bean id="serviceContextAutoLoader" class="com.wu.framework.spring.ServiceContextAutoLoader"/> 
    
</beans>
